.search-results-box {
    border-radius: 1rem;
    border: 0.1rem solid black;
    background-color: aquamarine;
    padding: 1rem;
}

.search-results-row:hover {
    background-color: beige;
    cursor: pointer;
}