.patient-list {
    list-style-type: none;
}

.colour-nhs-blue{
    color: #005EB8;
}

.bkcolour-nhs-blue{
    background-color: #005EB8;
}

.paginator-button:hover{
    background-color: #0072CE;
    color: white;
}

.paginator-button:focus{
    background-color: initial;
}
.paginator-button:focus:hover{
    background-color: #0072CE;
    color:white;
}
