<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spiritum Duo</title>
    <link rel='shortcut icon' type='image/x-icon' href='/media/favicon.io' />
    <style>
        body {
            background-image: url('../media/girl_dandilion_blow.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }

        h1,
        h2,
        h3 {
            text-shadow: 2px 2px #000000;
            color: rgb(228, 209, 209)
        }

        div {
            padding: 20px;
        }
    </style>
</head>

<body>
    <div>
        <img src="/media/logo.jpeg" alt="logo" width="60" height="60" style="float:left">
        <h1>Page not found - 404</h1>
        <h2>Sorry, but the requested page could not be found.</h2>
        <h2>(message from Django server)</h2>
    </div>
</body>

</html>