.filter-toggle {
    min-height: 2rem;
    max-width: inherit;
    border: 2px solid rgb(76, 98, 114);
    padding: 0.25rem;
    width: 100%;
}

.filter-menu {
    max-height: 25rem;
    overflow-y: auto;
    overflow-x: hidden;
    background: white;
    border-radius: 0 0 0.25rem 0.25rem;
    min-width: calc(100%  - 32px);
    width: calc(100% - 32px);
    font-size: inherit;
    z-index: 1;
    border: 2px solid rgb(76, 98, 114);
    box-shadow: 1px 1px;
}

.filter-toggle-button {
    float: right;
    border: none;
    background: inherit;
}
