.text-right {
    text-align: right;
}

.test-collapse {
    display: inline;
}

.test-new {
    background-color: rgba(125, 125, 125, 0.2);
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }