.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  margin: 0 0 10px;
  padding: 0;
  width: 100%;
  display:table;
  table-layout: fixed;
}

.react-tabs__tab {
  background-color: white;
  display: table-cell;
  margin-bottom: 0;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  text-align: center;
}
.react-tabs__tab--selected {
  color: black;
  border-bottom: 5px  #005EB8 solid;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

.nhsuk-table__body .nhsuk-table__row.active:hover, .nhsuk-table__body .nhsuk-table__row.active:focus {
  background-image: linear-gradient(
    to right,
    rgba(0,0,0,0), 
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(255,255,255),
    rgb(255,255,255), 
    rgba(0,0,0,0)
  );
  cursor: pointer;
}
.nhsuk-table__body .nhsuk-table__row.disabled {
  color: rgb(150,150,150);
}